:root {
    --background-light: #ece8e2;

    --background-dark-items: 19,39, 79;
    
    --background-dark: rgb(var(--background-dark-items));
    --background-very-dark: #102041;
    --main-lit-color: #1aa6b7;
    --highlight-color: #e41448;

    --highlight-anim-duration: 0.2s;
    
    --border-color: #ffffff;
    --text-color: #000000;

    --main-column-width: 70%;
    --presentation-height: 60vh;

    font-size: 2.05vmin;

}

.highlighted-text {
    color: var(--highlight-color);
}

.title-text {
    font-family: 'Heebo', sans-serif;

    font-weight: 900;
    text-transform: uppercase;
}

.title-text-size {
    font-size: 1.2rem;
}

body {
    font-family: 'El Messiri', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Montserrat Alternates', sans-serif;

    font-family: 'Open Sans', sans-serif;
    margin: 0;
    line-height: 1.5;
}

body > svg {
    position: absolute;
    height: 0;
}

#app {
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--background-dark);

    color: var(--text-color);
}

.main-item {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.main-border {
    border: var(--border-color) 1px solid;
}

#presentation-holder {
    height: var(--presentation-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lit-box {
    background-color: var(--background-light);
}

#presentation-display {
    position: relative;
    width: var(--main-column-width);
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


#presentation-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: url(#presentation-background-clip);
    background-image: url(../images/presentation-background.png);
    background-position: center;
    background-size: 100%;
}

#presentation-left, #presentation-right {
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#presentation-left > *, #presentation-right > * {
    height: 50%;
    width: 100%;
}

#presentation-left {
    position: relative;
    width: 45%;
}

#presentation-right {
    width: 55%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column-reverse;
}

.face {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);

    width: 13rem !important;
    height: 13rem !important;
    background-image: url("../images/face.jpg");
    background-position: center;
    background-size: 100%;
    border: var(--border-color) 3px solid;
    border-radius: 50%;
}

#presentation-left-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    text-align: center;
    color: var(--text-color);
}

@media screen and (min-aspect-ratio: 5/4) {
    .description{
        height: 40% !important;
    }
}

.description{

    text-align: justify;
    padding-right: 1.75rem;
    overflow-y: auto;
}

.logos {
    margin: 1rem;
    width: 60%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.logos > * {
    height: 100%;
    width: auto;
    margin: 0.5rem;
}

.logos img {
    height: 100%;
    width: auto;
}

#main-work-holder {
    height: calc(100vh - var(--presentation-height));
}

#main-work-item-display {
    height: 66%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-flow: row nowrap;
}

#main-work-item-display> * {
    margin: 2px;
}

#main-work-controller {
    height: 34%;
}

.main-work-item-holder {
    aspect-ratio: 3 / 4;
    height: 100%;
    width: auto;
}

.work-item-holder {
    width: 100%;
    height: 100%;
}

.work-item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(var(--background-dark-items));

    transition: transform var(--highlight-anim-duration);
}

.work-item:hover {
    transform: scale(1.1);
    z-index: 4;
}

.work-item > img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    padding-bottom: 2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-item > .title-holder {
    position: absolute;
    bottom: 0;
    left: 0;
}

.title-holder {
    width: 100%;
    height: 2rem;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 3;
}

.work-item .title-holder.highlighted {
    background-color: var(--highlight-color);
    color: white;
    transition: clip-path var(--highlight-anim-duration);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    z-index: 6;
}

.work-item-gif-element {
    display: none;
}

.work-item:hover .work-item-gif-element {
    display: inline;
    z-index: 1;
    animation-name: displayAtTheEnd;
    animation-duration: var(--highlight-anim-duration);
    animation-fill-mode: forwards;
}

@keyframes displayAtTheEnd {
    0% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.work-item:hover .title-holder.highlighted {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#main-work-controller {
    display: flex;
    
    align-items: center;
    flex-direction: column-reverse;

    padding-bottom: 1rem;
}

.arrow {
    display: block;
    width: 4rem;
    height: 2rem;

    background-color: white;

    clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 80% 0, 50% 65%, 20% 0);
}

.bouncing-top {
    animation-name: bouncing-top-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bouncing-top-animation {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

#all-work-holder {
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1rem 4rem 1rem 4rem;
}

#all-work-items {
    width: 100%;
    display: flex;
    justify-content: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-flow: row wrap;
}

#all-work-items > .main-work-item-holder {
    aspect-ratio: 3 / 4;
    height: 33vh;
    margin: 2px;
}

#all-work-filter-holder {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#all-work-filter-inputs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;

    padding: 0.8rem 0rem 0.2rem 1rem;
}

#all-work-filter-inputs > * {
    margin-right: 2rem;
}

#all-checkbox {
    margin-right: 3rem;
    flex-shrink: 0;
}


#all-work-filter-inputs > * > * {
    margin-right: 1rem;
}

#all-work-filter-inputs .last-child {
    margin-right: 0rem !important;
}

#all-work-filter-holder > input[type="range"] {
    width: 2rem;
}

.checkbox-label-root input {
    display: none;
}

.checkbox-label-root span {
    height: 1rem;
    width: 1rem;
    background-color: silver;
    display: inline-block;
    position: relative;
} 

.checkbox-label-root input[type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;

    color: var(--highlight-color);
    font-family: 'Heebo', sans-serif;

    font-weight: 900;
    font-size: 1.2rem;
    text-transform: uppercase;

    transform: translateY(-20%);
}

#pop-up-holder {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#pop-up {
    position: relative;
    overflow-y: auto;
    width: 90%;
    height: 90%;
    /*background-color: var(--main-lit-color);*/
    border: var(--border-color) 2px solid;
    backdrop-filter: blur(4px);
    background-color: rgba(var(--background-dark-items), 0.95);
}

#pop-up .close-symbol {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 2;
    color: white;
    font-weight: 900;
    font-size: 2rem;
} 

.interactable {
    cursor: pointer;
}

#pop-up-content {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#pop-up-content > * {
    margin-bottom: 1rem;
}

#pop-up-visual-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0;
    width: 70%;
    aspect-ratio: 16/9;
    background-color: var(--background-very-dark);
    margin-bottom: 3rem;
}

#pop-up-visual-header > img, #pop-up-visual-header > iframe {
    max-width: 100% !important;
    max-height: 100% !important;

}
#pop-up-visual-header > iframe {
    width: 100% !important;
    height: 100% !important;
}

#pop-up-title {
    width: 100%;
}

#pop-up-text-content {
    padding: 1rem;
    overflow-y: auto;
    width: 100%;
    color: white;
}

#pop-up-text-content iframe {
    margin: 1rem auto 1rem auto;
}

#pop-up-text-content iframe {
    margin: 1rem auto 1rem auto;
}

iframe {
    border: 0;
}

a {
    color: white;
    font-weight: 900;
}

a:hover {
    color: white;
    text-decoration: underline;
}