:root {
    --background-main: rgb(74, 136, 60);
    --form-background: rgb(150, 196, 140);
    --form-text: rgb(226, 222, 222);
    --dark: rgba(41, 66, 36, 1);
    --dark-light: rgb(78, 121, 71);
    --text-main: rgb(204, 204, 204);
    --text-selected: #303030;
    --padding-top: 20px;

    --logo-width: 295px;
    --logo-height: 166px;
    --logo-resize-ratio: 2;

    --width: calc(var(--logo-width) / var(--logo-resize-ratio));
    --height: calc(var(--logo-height) / var(--logo-resize-ratio));

    --navbar-height: 7vh;
    --navbar-height-extended: 50vh;

    --blur-size: 7px;
}

body {
    min-width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    background-color: var(--background-main);
    height: var(--navbar-height);
    border-bottom: 4px solid var(--dark-light);
}

.nav-link {
    color: var(--text-main);
    font-size: larger;
}

.nav-link.active {
    color: var(--text-selected);
}

.nav-link:hover {
    color: var(--text-selected);
}

.logo {
    width: var(--width);
    height: var(--height);
    background: url(../images/logo.png);
    background-size: calc(var(--width) * 0.8) calc(var(--height) * 0.8);
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    bottom: 0%;
    left: 50%;
    margin-left: calc(var(--width) / -2);
    background-color: var(--background-main);
    transform: translateY(50%);

    --border-radius: calc(var(--width) * 0.3 );
    border-radius: var(--border-radius);
    border: 2px solid var(--dark);
}

#left-navbar {
    position: absolute;
    top: var(--padding-top);
    right: calc(50% + var(--width) / 2);
}

#right-navbar {
    position: absolute;
    top: var(--padding-top);
    left: calc(50% + var(--width) / 2);
}



#home {
    background: center url(../images/miscanthus-1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;

    padding-top: 50vh;
}

#home .content {
    background: var(--background-main);
    color: var(--text-main);
    padding: 1%;
    transform: translateY(-50%);
}

h1 {
    color: var(--text-main);
    text-align: center;
    margin-bottom: 5%;
}

h2 {
    color: var(--text-main);
    text-align: center;
    margin-bottom: 2%;
}

#home p {
    text-align: center;
    font-size: larger;
}

.subpage {
    width: 100%;
    border-top: 4px solid var(--dark);
    background-color: white;
    padding-top: 5%;
}

.subpage .content {
    background: var(--background-main);
    color: var(--text-main);
}

.subpage .content div {
    padding: 2%;
}

.background {
    /* background: center url(../images/miscanthus-background.jpg); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#mys-background {
    background: center url(../images/miscanthus-2.jpg);
}

#mulch-background {
    background: center url(../images/mulch.jpg);
    background-size: contain;
}

#litter-background {
    background: center url(../images/litter.jpg);
    background-size: cover;
}

#food-background {
    background: center url(../images/food.jpeg);
    background-size: cover;
}

.centered {
    text-align: center;
}

.anchor {
    position: relative;
    top: -15vh;
}

.fullsize {
    height: 100vh;
    width: 100%;
}

.fullsize .background {
    width: 100%;
    height: 100%;
}


.vignette {
    background-color: var(--dark);
    color: var(--text-main);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    line-height:0px;

    border-radius:50%;
    font-size:32px;
}

.vignette span {
    display:inline-block;

    padding-top:50%;
    padding-bottom:50%;

    margin-left:8px;
    margin-right:8px;
}

.vignette {
    right: 3%;
    transform: translate(0, -50%);
}

#home .subcontent {
    width: 100%;  
}

#home img {
    width: 30%;
    height: auto;

    display: block;
    margin: auto;
}

#home .subcontent p {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greater-height {
    padding-bottom: 10%;
}

#home .container .col-3 {
    width: 100%;
}

.subpage h1 {
    color: var(--dark);
}

.small-screen {
    visibility: hidden;
}

.big-screen {
    visibility: visible;
}

.small-screen-visible {
    visibility: hidden;
}

.menu-icon {
    visibility: hidden;
}

.content {
    width: 100% !important;
    margin-left: 0;
    border: 2px solid lightgrey;
    border-left: none;
    border-right: none;
}

.content:not(:first-child) {
    margin-top: 20%;
}

.background {
    padding-top: 20%;
    padding-bottom: 20%;
}

.div-centered {
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

#carousel {
    position:relative;
    width: 75%;
    height: 75%;
    margin:auto;
    text-align: center;
}

#carousel ul {
    list-style-type: none;
}

#carousel ul li {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

#carousel img {
    /* width:100px; */
    /* height: 100px; */
    image-orientation: from-image;
    max-height: 100%;
    max-width: auto;
} 

.mail-form {
    margin-top: 2%;
}

.mail-form input {
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid var(--dark-light);
    transition: ease-in 0.3s;
}

.mail-form input:focus {
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid var(--dark-light);
    background-color: var(--form-background);
    color: var(--form-text);
}

.mail-form textarea {
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid var(--dark-light);
    transition: ease-in 0.3s;
}

.mail-form input:invalid {
    border-bottom: 2px solid rgb(238, 126, 113);
}

.mail-form .submit-button {
    background-color: var(--form-background);
    border-radius: 0px;
    border: none;
}

@media only screen and (max-width: 1550px) {
    .menu-icon {
        visibility: visible;
        text-align: center;
        /* transform: translate(50%); */
        position: absolute;
        bottom: 0%;
        right: 5%;

        font-size: 300%;
    }

    .small-screen {
        visibility: visible;
    }

    .big-screen {
        visibility: hidden;
    }

    .nav-items.small-screen {
        visibility: hidden;
        margin: auto;
        text-align: center;
    }

    .nav-items.small-screen ul {
        padding: 10%;
    }

    .nav-item {
        font-size: larger;
    }

    .navbar-extended {
        height: auto;
    }

    .small-screen-visible {
        visibility: visible !important;
    }
}

@media only screen and (max-width: 700px) {
    .vignette {
        top: unset;
        right: unset;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}


