:root {
    --background-main: rgb(74, 136, 60);
    --dark: rgba(41, 66, 36, 1);
    --dark-light: rgb(78, 121, 71);
    --text-main: rgb(204, 204, 204);
    --text-selected: #303030;
    --padding-top: 20px;

    --logo-width: 295px;
    --logo-height: 166px;
    --logo-resize-ratio: 2;

    --width: calc(var(--logo-width) / var(--logo-resize-ratio));
    --height: calc(var(--logo-height) / var(--logo-resize-ratio));

    --navbar-height: 7vh;
    --navbar-height-extended: 50vh;

    --blur-size: 7px;
}

body {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    background-color: var(--background-main);
    /* height: calc(2 * var(--padding-top) + 2em); */
    height: var(--navbar-height);
    border-bottom: 4px solid var(--dark-light);
}

.nav-link {
    color: var(--text-main);
    font-size: larger;
}

.nav-link.active {
    color: var(--text-selected);
}

.nav-link:hover {
    color: var(--text-selected);
}

.logo {
    width: var(--width);
    height: var(--height);
    background: url(../images/logo.png);
    background-size: calc(var(--width) * 0.8) calc(var(--height) * 0.8);
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    bottom: 0%;
    left: 50%;
    margin-left: calc(var(--width) / -2);
    background-color: var(--background-main);
    transform: translateY(50%);

    --border-radius: calc(var(--width) * 0.3 );
    border-radius: var(--border-radius);
    border: 2px solid var(--dark);
}

#left-navbar {
    position: absolute;
    top: var(--padding-top);
    right: calc(50% + var(--width) / 2);
}

#right-navbar {
    position: absolute;
    top: var(--padding-top);
    left: calc(50% + var(--width) / 2);
}



#home {
    background: center url(../images/miscanthus-background.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

    padding-top: 50vh;
}

#home .content {
    width: 70vw;
    margin: auto;
    background: var(--background-main);
    color: var(--text-main);
    padding: 1%;
    border: 2px solid lightgrey;
    transform: translateY(-50%);
}

h1 {
    color: var(--text-main);
    text-align: center;
    margin-bottom: 5vh;
}

h2 {
    color: var(--text-main);
    text-align: center;
    margin-bottom: 2vh;
}

#home p {
    text-align: center;
    font-size: largerr;
}

.subpage {
    width: 100%;
    border-top: 4px solid var(--dark);
    background-color: white;
    padding-top: 5vh;
}

.subpage .content {
    width: 45vw;
    background: var(--background-main);
    color: var(--text-main);
    border-left: 4px solid lightgray;
    border-right: 4px solid lightgray;
}

.subpage .content div {
    padding: 2%;
}

.right {
    margin-left: 45vw;
    padding-top: 3vh;
}

.left {
    margin-left: 10vw;
    padding-bottom: 3vh;
}

.background {
    background: center url(../images/miscanthus-background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.centered {
    text-align: center;
}

.anchor {
    position: relative;
    top: -15vh;
}

.fullsize {
    height: 100vh;
    width: 100%;
}

.fullsize .background {
    width: 100%;
    height: 100%;
}

.vignette {
    background-color: var(--dark);
    color: var(--text-main);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    line-height:0px;

    border-radius:50%;
    font-size:32px;
}

.vignette span {
    display:inline-block;

    padding-top:50%;
    padding-bottom:50%;

    margin-left:8px;
    margin-right:8px;
}

#home .subcontent {
    width: 100%;  
}

#home img {
    width: 30%;
    height: auto;

    display: block;
    margin: auto;
}

#home .subcontent p {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greater-height {
    padding-bottom: 10%;
}

#home .container .col-3 {
    width: 100%;
}

.subpage h1 {
    color: var(--dark);
}

.menu-icon {
    visibility: hidden;
}

.small-screen {
    visibility: hidden;
}

.big-screen {
    visibility: visible;
}

.small-screen-visible {
    visibility: hidden;
}

@media only screen and (max-width: 1220px) {
    .menu-icon {
        visibility: visible;
        /* width: 100%; */
        text-align: center;
        transform: translate(50%);
        position: absolute;
        bottom: 0%;
        right: 25%;

        font-size: 300%;
    }

    .small-screen {
        visibility: visible;
    }

    .big-screen {
        visibility: hidden;
    }

    .nav-items.small-screen {
        visibility: hidden;
        margin: auto;
        text-align: center;
    }

    .nav-items.small-screen ul {
        padding: 10%;
    }

    .nav-item {
        font-size: larger;
    }

    .navbar-extended {
        height: auto;
    }

    .small-screen-visible {
        visibility: visible !important;
    }
    
    .subpage .content {
        width: 45vw;
        background: var(--background-main);
        color: var(--text-main);
        border-left: 4px solid lightgray;
        border-right: 4px solid lightgray;
    }
    
    .subpage .content div {
        padding: 2%;
    }
    
    .right {
        margin-left: 45vw;
        padding-top: 3vh;
    }
    
    .left {
        margin-left: 10vw;
        padding-bottom: 3vh;
    }

    .vignette {
        right: 3%;
        transform: translate(0, -50%);
    }


    #home .content {
        width: 100% !important;
        margin-left: 0;
        border: 2px solid lightgrey;
        border-left: none;
        border-right: none;
    }

    .subpage .content {
        width: 100% !important;
        margin-left: 0;
        border: 2px solid lightgrey;
        border-left: none;
        border-right: none;
    }

    .right, .left {
        /* background-color: red !important; */
        /* margin-top: 20%; */
    }

    .left {
        margin-top: 20%;
    }

    .background {
        padding-top: 20%;
        padding-bottom: 20%;
    }
}

@media only screen and (max-width: 700px) {
    .vignette {
        top: unset;
        right: unset;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}


