:root {
    --back-color: rgb(172, 172, 172);
    --bookmark-color: rgb(78, 78, 78);
    --text-color: rgb(233, 233, 233);
}

body {
    background-color: var(--back-color);
}

.row {
    margin-top: 1%;
}

.bookmark {
    background-color: var(--bookmark-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding-bottom: 1%;
    padding-top: 1%;
    height: 100%;
}

#navbar {
    font-size: larger;
}

.navbar-item {
    background-color: var(--bookmark-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
}

#categories-dropdown .form-check {
    margin-left: 5px !important;
}

#categories-dropdown a:hover {
    background-color: var(--bookmark-color);
}

#categories-dropdown a:focus {
    background-color: var(--bookmark-color);
}

#search-bar-container {
    padding-top: 4px;
    padding-bottom: 4px;
}

#categories-dropdown .dropdown-menu .form-check-input:checked {
    background-color: red;
}